<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="no.hiof.android.ambiguous"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name="no.hiof.android.ambiguous.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="no.hiof.android.ambiguous.activities.GameActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="no.hiof.android.ambiguous.activities.GameActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="no.hiof.android.ambiguous.activities.CardGalleryActivity"
            android:label="@string/title_activity_deckmanager" 
            android:parentActivityName="no.hiof.android.ambiguous.activities.MainActivity" >
            <meta-data 
                android:name="android.support.PARENT_ACTIVITY"
                android:value="no.hiof.android.ambiguous.activities.MainActivity" />
            <intent-filter>
                <action android:name="no.hiof.android.ambiguous.activities.DeckManagerActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="no.hiof.android.ambiguous.activities.NetworkActivity"
            android:label="@string/title_activity_network" >
            <intent-filter>
                <action android:name="no.hiof.android.ambiguous.activities.NetworkActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="no.hiof.android.ambiguous.ClientActivity"
            android:label="@string/title_activity_client" >
        </activity>
    </application>

</manifest>
